<%- model_class = RemotipartPic -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:topimage) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @remotipart_pics.each do |remotipart_pic| %>
      <tr>
        <td><%= link_to remotipart_pic.id, remotipart_pic_path(remotipart_pic) %></td>
        <td><%= remotipart_pic.title %></td>
        <td><%= remotipart_pic.description %></td>
        <td><%= remotipart_pic.topimage %></td>
        <td><%=l remotipart_pic.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_remotipart_pic_path(remotipart_pic), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      remotipart_pic_path(remotipart_pic),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_remotipart_pic_path,
            :class => 'btn btn-primary' %>
